#flower-password-input,
#flower-password-input span,
#flower-password-input h1,
#flower-password-input label,
#flower-password-input input,
#flower-password-input p,
#flower-password-input a {
    font: inherit;
    font-size: 100%;
    line-height: 1;
    box-sizing: content-box!important;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    color: #000;
    border: 0;
    background: #fff;
}

#flower-password-input {
    font: normal 14px/1.5 Tahoma, Helvetica, Arial, \5b8b\4f53!important;
    position: absolute;
    z-index: 999999;
    width: 250px;
    padding: 10px!important;
    border: 2px solid #168bc3!important;
}

#flower-password-input h1 {
    font-size: 21px!important;
    font-weight: 700!important;
    margin: 0 0 5px!important;
    color: #168bc3!important;
}

#flower-password-input input[type=text],
#flower-password-input input[type=password] {
    font-size: 14px!important;
    display: inline;
    width: 160px;
    height: 18px;
    margin: 5px 10px!important;
    padding: 5px!important;
    border: 1px solid #999!important;
    border-radius: 3px;
}

#flower-password-input input[type=checkbox] {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 10px!important;
    cursor: pointer;
    vertical-align: middle!important;
    border: 1px solid #999!important;
    border-radius: 3px;
    -webkit-appearance: none;
}

#flower-password-input input[type=checkbox]:checked::after {
    position: relative;
    top: -3px;
    left: -5px;
    display: block;
}

#flower-password-input label {
    display: inline;
    float: none;
    vertical-align: middle!important;
}

#flower-password-input p {
    font-size: 12px!important;
    line-height: 1.5!important;
    color: #999!important;
}

#flower-password-close {
    font-weight: 700!important;
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #fff!important;
    border: 2px solid #168bc3!important;
    background: #168bc3!important;
}

#flower-password-close::before {
    line-height: 16px!important;
    position: relative;
    top: -1px;
    display: block;
    width: 16px;
    height: 16px;
    content: '\D7';
    text-align: center!important;
}

#flower-password-input a {
    cursor: pointer;
    text-decoration: none;
    color: #168bc3!important;
}

#flower-password-input a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ff881c!important;
}

#flower-password-toolbar {
    display: block;
    text-align: right!important;
}

#flower-password-toolbar a {
    font-size: 12px!important;
    display: inline;
    margin-left: 10px!important;
}

#flower-password-input a img {
    vertical-align: middle!important;
}

#flower-password-hint {
    margin-top: 10px!important;
}
